html{
    padding: 0px;
    margin: 0px;
}
body {
    background: #fff;
}

.bgcol-light {
  background-color: #9ede73;
}
.navbar-brand {
  font-size: 1.5rem;
}

.container {
    padding: 10px;
}

.temp {
  margin-top: 10px;
}

.desc{
  margin-top: 20px;
  width: 30%;
}